{{> post-info post}}

{{#if loggedIn}}
<div class="card post-card mt-4 mx-auto">
    <div class="card-body d-flex justify-content-between bgs-primary">
    </div>
    <form class="comment-form">
        <div class="primary p-3 bgs-secondary">
            Comment
            <textarea name="comment-body"></textarea>
            <div class="d-flex justify-content-center">
                <button type="submit" class="w-100 m-auto bgs-primary btn secondary">Submit</button>
            </div>
        </div>
    </form>
</div>
{{/if}}


{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}